body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
}
.kalendar-container{
    background-color: white;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    overflow: hidden;
}
.oy{
    margin: 0;
    background-color: orange;
    color: white;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
}
.kun{
    font-size: 20px;
    color: darkgray;
}
.raqam{
    font-size: 80px;
    margin: 0;
    font-weight: bold;
}
.yil{
    margin: 20px 0;
    font-size: 20px;
    color: darkgray;
    font-weight: 500;
}